h2.head {
    text-align:center;
    font-size: 60px;
text-shadow: 2px 2px 2px grey;
font-family: 'yozakuraregular';
  }
#cont {
color:black;
bottom:30px;
}
p.about {
    text-align:left;
    font-size: 20px;
    padding: 20px;
    margin-left: 70px;
    word-break: normal;
    border:2px solid #b6b6b6;
    background-color:#B0DFE5;
text-shadow:1px 1px 1px grey;
 border-radius: 15px;
  }
p.about a{
text-decoration:none;
background:linear-gradient(to right, rgba(215,128,237,1) 50%, black);-webkit-background-clip: text; -webkit-text-fill-color: transparent;

}
p.about2 {
    text-align:left;
    font-size: 20px;
    margin-right: 70px;
    word-break: normal;
    border:2px solid #b6b6b6;
    background-color:#B0DFE5;
text-shadow:1px 1px 1px grey;
 border-radius: 15px;
font-style:italic;
  }
p.about3 {
    text-align:left;
    font-size: 20px;
    margin:auto;
    word-break: normal;
    width: 90%;
    padding:20px;
    border:2px solid #b6b6b6;
    background-color:#B0DFE5;
text-shadow:1px 1px 1px grey;
 border-radius: 15px;
font-style:italic;
  }
div.pic1 {
    float: right;
    margin-left:5px;
    padding: 15px;
    border: 1px  black;
    text-align: center;
    margin-top:24px;
  }
div.pic2 {
    float: left;
    margin-left:20px;
    margin-right:20px;
    padding: 15px;
    border: 1px  black;
    text-align: center;
    position: relative;
    bottom: -30px;
  }
p.contact2 {
    text-align: center;
    font-size:23px;
color:gold;
text-shadow: 2px 2px 2px black;
}
table{
 border-radius: 15px;
}
table, th, td {
    border:3px solid black;
    text-align:center;
    background-color:  #e0e0e0;
    font-size: 21px;
    margin:auto;
color:black;
text-shadow:1px 1px 1px grey;
  }
th {
    background-color: #0fb8ea;
 border-radius: 15px;
text-shadow:1px 1px 1px grey;
  }
td {
background-color:#d0f5fc;
padding:5px;
 border-radius: 15px;
}
button.button {
background-color:#0fb8ea;
width:800px;
height:50px;
font-size:27px;
text-shadow:2px 2px 2px grey;
 border-radius: 15px;
}
.button:hover {
background-color:#008ECC;
color:white;
}
button.button2 {
background-color:#005bdb;
width:600px;
height:40px;
font-size:23px;
text-shadow:1px 1px 1px grey;
 border-radius: 15px;
}
.button2:hover{
background-color:#0038a8;
color:white;
}
.accordion {
 font-family:"yozakuraregular";
  background-color: #0fb8ea;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 60px;
  transition: 0.2s;
  border-radius:20px;
}

.active, .accordion:hover {
  background-color: #0fa2ea;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: transparent;
  overflow: hidden;
}
.contactdown {
 border: solid black;
 border-width: 0 5px 5px 0;
 display: inline-block;
 padding: 8px;
 margin-left:25px;
 margin-bottom:2px;
 transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
}
.contactdown2 {
 border: solid black;
 border-width: 0 5px 5px 0;
 display: inline-block;
 padding: 8px;
 margin-right:25px;
 margin-bottom:2px;
 transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
}