/* CSS for Home Page */
.subhead {
-webkit-animation: subhead 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate;
animation: subhead 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate;
}
@-webkit-keyframes subhead {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes subhead {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
.azurlane{
-webkit-animation: azurlane 1s cubic-bezier(0.175, 0.885, 0.320, 1.055) 750ms both;
animation: azurlane 1s cubic-bezier(0.175, 0.885, 0.320, 1.055) 750ms both;
}
@-webkit-keyframes azurlane {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes azurlane {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.bluebanner {
-webkit-animation: bluebanner 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
animation: bluebanner 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
@-webkit-keyframes bluebanner{
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes bluebanner {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
.bannertext {
-webkit-animation: bannertext 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.75s both;
animation: bannertext 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.75s both;
}
@-webkit-keyframes bannertext {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes bannertext {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
.belwed {
-webkit-animation: belwed 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
animation: belwed 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}
@-webkit-keyframes belwed {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes belwed {
  0% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.azurinfotext {
-webkit-animation: azurinfotext 0.75s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
animation: azurinfotext 0.75s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}

@-webkit-keyframes azurinfotext {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes azurinfotext {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}





/* CSS for Contact Page */
#selfhead{
-webkit-animation: selfhead 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
animation: selfhead 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes selfhead {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes selfhead {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
#containerabout1 {
-webkit-animation: containerabout1 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
animation: containerabout1 1s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;
}
@-webkit-keyframes containerabout1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes containerabout1 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

#containerabout2 {
-webkit-animation: containerabout2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: containerabout2 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes containerabout2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes containerabout2 {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

#containerabout3 {
-webkit-animation: containerabout3 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
animation: containerabout3 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
}
@-webkit-keyframes containerabout3 {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes containerabout3 {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}


/* CSS for Combat page */
#combathead{
-webkit-animation: combathead 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
animation: combathead 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes combathead {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes combathead {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
#PvEhead {
-webkit-animation: pve 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
animation: pve 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes pve {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes pve {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
#PvPhead {
-webkit-animation: pvp 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
animation: pvp 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes pvp {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes pvp {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
#combatsummary {
-webkit-animation: combatsummary 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
animation: combatsummary 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes combatsummary {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes combatsummary {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

/* CSS for Ships Page */
#shipsheadani{
-webkit-animation: shipsheadani 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
animation: shipsheadani 1s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
@-webkit-keyframes shipsheadani {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes shipsheadani {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
#shipsdescani {
-webkit-animation: shipsdescani 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
animation: shipsdescani 1s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}
@-webkit-keyframes shipsdescani {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes shipsdescani {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
#shiphead {
-webkit-animation: shiphead 1000ms cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
animation: shiphead 1000ms cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}
@-webkit-keyframes shiphead {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes shiphead {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

