.ssr {
background-color:gold;
font-size:27px;
}
#ssr {
color:gold;
text-shadow:1px 1px 1px black;
}
.divssr a{
text-decoration:none;
color:gold;
}
.sr {
background-color:purple;
font-size:27px;
}
#sr {
color:purple;
text-shadow:1px 1px 1px black;
}
.divsr a{
text-decoration:none;
color:purple;
}
.r {
background-color:blue;
font-size:27px;
}
#r {
color:blue;
text-shadow:1px 1px 1px black;
}
.divr a{
text-decoration:none;
color:blue;
}
.c{
background-color:lightgrey;
font-size:27px;
}
#c {
color:grey;
text-shadow:1px 1px 1px black;
}
.divc a{
text-decoration:none;
color:grey;
}



td.ship {
font-size:20px;
text-align:center;
text-shadow:1px 1px 1px black;
background-color:#bebebe;
font-style:italic;
}
th.category {
font-size:22px;
text-shadow:2px 2px 2px grey;
background-color:#949494;
}
.subship th.category {
width:120px;
}
#shiphead{
margin-top:20px;
font-size:55px;
font-weight:bold;
text-shadow:2px 2px 2px grey;
text-align:center;
margin-bottom:25px;
font-family: 'yozakuraregular';
  }
.subship {
display:block;
border:0px;
overflow-x:auto;
}
.total {
margin:auto;
border-collapse:collapse;
}
.decisive {
background:linear-gradient(to right, rgba(50,255,231,1) 19%,rgba(215,128,237,1) 100%);
}
#decisive {
background:#bebebe;
text-shadow:1px 1px 1px grey;
}
.divdec a{
text-decoration:none;
background: -webkit-linear-gradient(rgba(50,255,231,1) 19%, rgba(215,128,237,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}